section{
    padding: 32px;
}

.post{
    margin:32px auto;
}

.card{
    padding: 32px;
    display: block;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(37, 34, 34, 0.616);
}

h1{
    display: block;
    font-weight: bolder;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.05em;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: rgb(20, 15, 15) !important;
    font-size: 20px;
}

input{
    display: inline-block;
    border-radius: 12px;
    padding: 10px;
    background-color: rgba(240, 27, 27, 0.548);
    font-weight: bold;
    color: white;
}
